
image: registry.git.rwth-aachen.de/ebc/ebc_intern/dymola-docker:Dymola_2022-miniconda

stages:
    - check_setting
    - build_templates
    - Ref_Check
    - build
    - HTML_Check
    - IBPSA_Merge
    - create_html_whitelist
    - Update_WhiteList
    - Release
    - StyleCheck
    - check
    - openMR
    - post
    - create_whitelist
    - simulate
    - RegressionTest
    - Update_Ref
    - plot_ref
    - prepare
    - deploy
    
variables:
    Github_Repository: RWTH-EBC/AixLib
    GITLAB_Page: https://ebc.pages.rwth-aachen.de/EBC_all/github_ci/AixLib
    
include:
    - 'bin/templates/03_ci_templates/01_deploy/gitlab_pages.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/01_deploy/IBPSA_Merge.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/02_UnitTests/check_model.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/02_UnitTests/regression_test.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/02_UnitTests/simulate_model.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/03_SyntaxTest/html_check.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/03_SyntaxTest/style_check.gitlab-ci.yml'  
    - 'bin/templates/03_ci_templates/04_CleanUpScript/ci_setting.gitlab-ci.yml'  
  