# dym_image_name: registry.git.rwth-aachen.de/ebc/ebc_intern/dymola-docker:Dymola_2022-miniconda
# ci_stage_model_check: model_check
# ci_stage_create_whitelist: create_model_whitelist
# library: AixLib
# ci_check_commit: ci_check
# xvfb_flag: xvfb-run -n 77
# modelicapyci_test_validate_module: ModelicaPyCI.unittest.checkpackages.validatetest
# result_dir: bin/ci-tests/result
# expire_in_time: 7h
# ci_create_model_whitelist_commit: ci_create_model_whitelist
# arg_push: --dym-options DYM_CHECK --filter-whitelist-flag  --changed-flag  --dymola-version 2022 --additional-libraries-to-load  --packages $lib_package --library AixLib 
# arg_PR: --dym-options DYM_CHECK --filter-whitelist-flag  --dymola-version 2022 --additional-libraries-to-load  --packages $lib_package --library AixLib 
# config_ci_exit_file: exit.sh
# bot_update_model_whitelist_commit: CI message from ebc-aixlib-bot. Update file whitelist-check_file. Please pull the new files before push again.
# whitelist_model_file: check_whitelist.txt
# arg_wh: --dym-options DYM_CHECK --create-whitelist-flag  --dymola-version 2022 --additional-libraries-to-load  --packages Airflow BoundaryConditions Controls DataBase Fluid Media Systems ThermalZones Types Utilities --library AixLib 
# package_list: ['Airflow', 'BoundaryConditions', 'Controls', 'DataBase', 'Fluid', 'Media', 'Systems', 'ThermalZones', 'Types', 'Utilities']
# modelicapyci_config_structure_module: ModelicaPyCI.structure.config_structure

include: 'bin/ci-tests/scripts/utilities.yml'

stages:
    - model_check
    - create_model_whitelist


.check_model_job:PR:
    image: registry.git.rwth-aachen.de/ebc/ebc_intern/dymola-docker:Dymola_2022-miniconda
    stage: model_check
    before_script:
        - !reference [.activate_python_and_install_requirements, script]
        - !reference [.custom_install_additional_modelica_libraries, script]
    script:
        - xvfb-run -n 77 python -m ModelicaPyCI.unittest.checkpackages.validatetest --dym-options DYM_CHECK --filter-whitelist-flag  --dymola-version 2022 --additional-libraries-to-load  --packages $lib_package --library AixLib 
    artifacts:
        when: on_failure
        paths:
            - bin/ci-tests/result/
        expire_in: 7h
    rules:
        - if: $CI_COMMIT_MESSAGE  =~ /ci_check/ && $CI_PIPELINE_SOURCE == "push"
          when: always
        - !reference [.rules:PR , rules]

.check_model_job:Push:
    image: registry.git.rwth-aachen.de/ebc/ebc_intern/dymola-docker:Dymola_2022-miniconda
    stage: model_check
    before_script:
        - !reference [.activate_python_and_install_requirements, script]
        - !reference [.custom_install_additional_modelica_libraries, script]
    script:
        - xvfb-run -n 77 python -m ModelicaPyCI.unittest.checkpackages.validatetest --dym-options DYM_CHECK --filter-whitelist-flag  --changed-flag  --dymola-version 2022 --additional-libraries-to-load  --packages $lib_package --library AixLib 
    artifacts:
        when: on_failure
        paths:
            - bin/ci-tests/result/
        expire_in: 7h
    rules:
        - !reference [.rules:push , rules]

Check_AixLib_Airflow:PR:
    variables:
        lib_package: Airflow
    extends: .check_model_job:PR

Check_AixLib_BoundaryConditions:PR:
    variables:
        lib_package: BoundaryConditions
    extends: .check_model_job:PR

Check_AixLib_Controls:PR:
    variables:
        lib_package: Controls
    extends: .check_model_job:PR

Check_AixLib_DataBase:PR:
    variables:
        lib_package: DataBase
    extends: .check_model_job:PR

Check_AixLib_Fluid:PR:
    variables:
        lib_package: Fluid
    extends: .check_model_job:PR

Check_AixLib_Media:PR:
    variables:
        lib_package: Media
    extends: .check_model_job:PR

Check_AixLib_Systems:PR:
    variables:
        lib_package: Systems
    extends: .check_model_job:PR

Check_AixLib_ThermalZones:PR:
    variables:
        lib_package: ThermalZones
    extends: .check_model_job:PR

Check_AixLib_Types:PR:
    variables:
        lib_package: Types
    extends: .check_model_job:PR

Check_AixLib_Utilities:PR:
    variables:
        lib_package: Utilities
    extends: .check_model_job:PR


Check_AixLib_Airflow:Push:
    variables:
        lib_package: Airflow
    extends: .check_model_job:Push

Check_AixLib_BoundaryConditions:Push:
    variables:
        lib_package: BoundaryConditions
    extends: .check_model_job:Push

Check_AixLib_Controls:Push:
    variables:
        lib_package: Controls
    extends: .check_model_job:Push

Check_AixLib_DataBase:Push:
    variables:
        lib_package: DataBase
    extends: .check_model_job:Push

Check_AixLib_Fluid:Push:
    variables:
        lib_package: Fluid
    extends: .check_model_job:Push

Check_AixLib_Media:Push:
    variables:
        lib_package: Media
    extends: .check_model_job:Push

Check_AixLib_Systems:Push:
    variables:
        lib_package: Systems
    extends: .check_model_job:Push

Check_AixLib_ThermalZones:Push:
    variables:
        lib_package: ThermalZones
    extends: .check_model_job:Push

Check_AixLib_Types:Push:
    variables:
        lib_package: Types
    extends: .check_model_job:Push

Check_AixLib_Utilities:Push:
    variables:
        lib_package: Utilities
    extends: .check_model_job:Push


check_whitelist_job:
    image: registry.git.rwth-aachen.de/ebc/ebc_intern/dymola-docker:Dymola_2022-miniconda
    stage: create_model_whitelist
    before_script:
        - !reference [.activate_python_and_install_requirements, script]
        - !reference [.custom_install_additional_modelica_libraries, script]
        - !reference [.github_ssh_auth, script]

    script:
        - mkdir whitelist && cd whitelist
        - git clone --single-branch --branch $CI_COMMIT_REF_NAME git@github.com:$Github_Repository.git
        - cd $CI_PROJECT_NAME
        - xvfb-run -n 77 python -m ModelicaPyCI.unittest.checkpackages.validatetest --dym-options DYM_CHECK --create-whitelist-flag  --dymola-version 2022 --additional-libraries-to-load  --packages Airflow BoundaryConditions Controls DataBase Fluid Media Systems ThermalZones Types Utilities --library AixLib 
    after_script:
        - cd whitelist && cd $CI_PROJECT_NAME
        - if cat exit.sh | grep "FAIL"; then
            message="CI message from ebc-aixlib-bot. Update file whitelist-check_file. Please pull the new files before push again." ;
            git add check_whitelist.txt ;
            git commit -m "$message" ;
            git push git@github.com:$Github_Repository.git;
            exit 0;
          else
            exit 0 ;
          fi
    artifacts:
        paths:
            - bin/ci-tests/result/
        expire_in: 7h
    rules:
        - if: $CI_COMMIT_MESSAGE =~ /ci_create_model_whitelist/ && $CI_PIPELINE_SOURCE == "push"
          when: always
